html, body {
    min-height: 100%;
    height: 100%;
}
html, body, div {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
}
div {
    position: relative;
    flex: 1;
    text-align: center;
}
a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(50deg) translateX(min(45vw, 450px)) rotate(-50deg);
}
a:nth-child(2) {
    transform: rotate(40deg) translateX(min(45vw, 450px)) rotate(-40deg); 
}
a:last-child {
    transform: rotate(30deg) translateX(min(45vw, 450px)) rotate(-30deg); 
}
@media only screen and (max-width: 910px) {
    a {
        transform: rotate(65deg) translateX(min(45vw, 450px)) rotate(-65deg); 
    }
    a:nth-child(2) {
        transform: rotate(50deg) translateX(min(45vw, 450px)) rotate(-50deg); 
    }
    a:last-child {
        transform: rotate(35deg) translateX(min(45vw, 450px)) rotate(-35deg); 
    }
}
@media only screen and (max-width: 625px) {
    a {
        transform: none;
        position: relative;
        top: auto;
        left: auto;
        margin-top: 10px;
    }
    a:last-child, a:nth-child(2) {
        transform: none;
    }
}
svg {
    width: 70px;
    height: 70px;
}
img {
    width: 90vw;
    max-width: 900px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}